/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green {
  background: #1abc9c;
}
.background {
  /* Rectangle 9 */

  position: absolute;
  width: 381.61px;
  height: 235px;
  left: -6.61px;
  top: 320.62px;

  background: linear-gradient(
    179.57deg,
    rgba(26, 188, 156, 0.2993) 40.71%,
    rgba(26, 188, 156, 0) 99.92%
  );
  transform: rotate(-2.19deg);

  /* Rectangle 18 */

  position: absolute;
  width: 381.23px;
  height: 227.95px;
  left: -6.6px;
  top: 344.67px;

  background: linear-gradient(
    179.57deg,
    rgba(26, 188, 156, 0.73) 40.71%,
    rgba(26, 188, 156, 0) 99.92%
  );
  transform: rotate(-0.09deg);
}
